@import "tailwindcss";

:root {
  --background: #123D34;
  --foreground: #EBFFF9;
}

* {
    outline-color:#98F08C;
}

@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ari: var(--font-ari);

  --color-background: #165E4D;
  --color-foreground: var(--foreground);

  --color-gradient-from: #98F08C;
  --color-gradient-to: #002420;

  --color-border: #FFFFFF11;
  --color-dark-900: #0B1117;
  --color-dark-800: #002420;
  --color-dark-700: #00302A;
  --color-dark-600: #123D34;
  --color-dark-500: #224C38;
  --color-dark-400: #165E4D;

  --color-light: #EBFFF9;
  --color-green-100:#98F08C;
  --color-green-200: #94D9C0;
  --color-green-300: #21c192;
  --color-error: #E0524D;

  --background-gold-gradient: linear-gradient(90deg, rgba(255, 215, 0, 0.2) 0%, rgba(255, 215, 0, 0.2) 6%, rgba(255, 215, 0, 0.05) 100%);
  --background-silver-gradient: linear-gradient(90deg, rgba(192, 192, 192, 0.3) 0%, rgba(192, 192, 192, 0.3) 6%, rgba(192, 192, 192, 0.05) 100%);
  --background-bronze-gradient: linear-gradient(90deg, rgba(205, 127, 50, 0.3) 0%, rgba(205, 127, 50, 0.3) 6%, rgba(205, 127, 50, 0.05) 100%);

  --color-leaf-green: #40B087;  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    cursor: pointer;
}

:host wui-ux-by-reown {
    display: none !important;
}

button:hover {
    cursor: pointer;
}
