@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #123D34;
  --foreground: #EBFFF9;
}

* {
    outline-color:#98F08C;
}

@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ari: var(--font-ari);

  --color-background: #165E4D;
  --color-foreground: var(--foreground);

  --color-gradient-from: #98F08C;
  --color-gradient-to: #002420;

  --color-border: #FFFFFF11;
  --color-dark-900: #0B1117;
  --color-dark-800: #002420;
  --color-dark-700: #00302A;
  --color-dark-600: #123D34;
  --color-dark-500: #224C38;
  --color-dark-400: #165E4D;

  --color-light: #EBFFF9;
  --color-green-100:#98F08C;
  --color-green-200: #94D9C0;
  --color-green-300: #21c192;
  --color-error: #E0524D;

  --background-gold-gradient: linear-gradient(90deg, rgba(255, 215, 0, 0.2) 0%, rgba(255, 215, 0, 0.2) 6%, rgba(255, 215, 0, 0.05) 100%);
  --background-silver-gradient: linear-gradient(90deg, rgba(192, 192, 192, 0.3) 0%, rgba(192, 192, 192, 0.3) 6%, rgba(192, 192, 192, 0.05) 100%);
  --background-bronze-gradient: linear-gradient(90deg, rgba(205, 127, 50, 0.3) 0%, rgba(205, 127, 50, 0.3) 6%, rgba(205, 127, 50, 0.05) 100%);

  --color-leaf-green: #40B087;
}
/* Light mode overrides */
[data-theme="light"] {
  --background: #F0F6FC; 
  
  --foreground: #123D34;
  
  --color-background: #F5F5F5;
  --color-foreground: #123D34;
  
  --color-gradient-from: #FFE08C;
  --color-gradient-to: #FFD700;
  
  --color-border: #123D3411;
  
  --color-dark-900: #EBFFF9;
  --color-dark-800: #EEFFEB;
  /* --color-dark-800: #DFFFEA; */

  --color-dark-700: #CFFFD5;
  --color-dark-600: #EEFFEB;
  --color-dark-500: #A0FBA0;
  --color-dark-400: #90F990;

  --color-light: #123D34;
  --color-green-100: #B6F0D0;
  --color-green-200: #A0E6C0;
  --color-green-300: #8CD9B0;
  --color-error: #E0524D;

  --background-gold-gradient: linear-gradient(90deg, rgba(255, 215, 0, 0.1) 0%, rgba(255, 215, 0, 0.1) 6%, rgba(255, 215, 0, 0.02) 100%);
  --background-silver-gradient: linear-gradient(90deg, rgba(192, 192, 192, 0.2) 0%, rgba(192, 192, 192, 0.2) 6%, rgba(192, 192, 192, 0.02) 100%);
  --background-bronze-gradient: linear-gradient(90deg, rgba(205, 127, 50, 0.2) 0%, rgba(205, 127, 50, 0.2) 6%, rgba(205, 127, 50, 0.02) 100%);
  
  --color-leaf-green: #85948e;  
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease-in-out;
}

a:hover {
    cursor: pointer;
}

:host wui-ux-by-reown {
    display: none !important;
}

button:hover {
    cursor: pointer;
}

.buyer-swiper .swiper-pagination {
  position: static;
  margin-top: 1rem;
}

.buyer-swiper .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.buyer-swiper .swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.8);
}
